body {
  background-color: #f2f2f2;

  main {
    .container {
      max-width: 1280px;
    }

    section {
      &#navbar-part {
        background-color: #e44d3a;
        //padding: {
        //  top: 8px;
        //  bottom: 8px;
        //}

        .container {
          .nav {
            align-items: center;

            .nav-item:nth-child(1) {
              img {
                width: 40px;
              }
            }

            .nav-item:nth-child(2) {
              .btn-group {
                input {
                  border-bottom-right-radius: 0;
                  border-top-right-radius: 0;
                  width: 300px;
                }

                .btn-secondary {
                  background-color: #efefef;

                  .fa-search {
                    transform: rotate(90deg);
                    color: #e44d3a;
                    font-weight: lighter;
                  }

                }

              }
            }

            .text {
              color: white;
              font-family: sans-serif;
              line-height: 2;
              font-size: 14px;
              //font-weight: lighter;
            }

            .border-color {
              border-right: 1px solid #e04431;
              border-left: 1px solid #e04431;
            }

            .rasm {
              width: 30px;
            }
          }
        }

      }

    }

    .black-red {
      background-color: #e44d3a;
    }

    .text-user {
      font-weight: 400;
      font-size: 20px;
      font-family: sans-serif;
    }

    .view-profile {
      font-weight: 500;
      color: #e65e65;
    }

    section {
      &#content-part {
        .container {
          .row {
            .col-3 {
              .card {
                .card-body {
                  background-color: white;

                  img {
                    border: 5px solid white;
                    border-radius: 50%;
                    width: 120px;
                    top: -65px;
                    left: 80px;
                  }
                }
              }

              .suggestion {
                .suggestion-title {
                  font-weight: 600;
                  font-size: 24px;

                  img {
                    height: 24px;
                    cursor: pointer;

                  }
                }

              }
            }
          }
        }

      }
    }
  }
}