body {
  main {
    section {
      &#navbar-part {
        .row {
          .col-1 {
            border-right: 2px solid grey;

            .nav {
              margin-top: 45px;

              .nav-item {
                .nav-link {
                  padding: {
                    left: 0;
                    right: 0;
                  }

                  &.tasma {
                    font-weight: 700;
                    font-size: 18px;
                    color: black;
                  }
                }


              }
            }
          }

          //This is content part

          .col-9 {
            .nav {
              margin-top: 57px;

              .nav-item {
                .nav-link {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 64px;
                  height: 64px;
                  //padding: {
                  //  left: 23px;
                  //  right: 23px;
                  //  top: 18px;
                  //  bottom: 18px;
                  //}
                  border-radius: 50%;
                  box-shadow: 0 1px 2px lightgrey;

                }
              }
            }
          }

        }


      }
    }
  }
}